<?php

return [
  "email" => [
        "from" => [
            "address" => getenv("FROM_ADDRESS"),
            "name" => getenv("EPP_CLIENT_NAME")
        ],
        "settings" => [
            "username" => getenv("EMAIL_USERNAME"),
            "password" => getenv("EMAIL_PASSWORD"),
            "port" => getenv("EMAIL_PORT"),
            "smtp_server" => getenv("EMAIL_SERVER")
        ]
    ],
    "epp" => [
        "username" => getenv("EPP_SERVER_USERNAME"),
        "cert_file" => getenv("EPP_SERVER_CERT_FILE"),
        "port" => getenv("EPP_SERVER_PORT"),
        "endpoint" => getenv("EPP_SERVER_ENDPOINT"),
        "password" => getenv("EPP_SERVER_PASSWORD"),
        "log_file" => getenv("EPP_SERVER_LOG_FILE"),
        "server" => [
            "test" => [
                "username" => getenv("EPP_SERVER_TEST_USERNAME"),
                "password" => getenv("EPP_SERVER_TEST_PASSWORD")
            ],
            "live" => [
                "username" => getenv("EPP_SERVER_USERNAME"),
                "cert_file" => getenv("EPP_SERVER_CERT_FILE"),
                "port" => getenv("EPP_SERVER_PORT"),
                "address" => getenv("EPP_SERVER_ENDPOINT"),
                "server" => [
                    "co_za" => [
                        "address" => getenv("EPP_SERVER_CO_ZA_SERVER"),
                        "password" => getenv("EPP_SERVER_CO_ZA_PASSWORD")
                    ],
                    "org_za" => [
                        "address" => getenv("EPP_SERVER_ORG_ZA_SERVER"),
                        "password" => getenv("EPP_SERVER_ORG_ZA_PASSWORD")
                    ],
                    "net_za" => [
                        "address" => getenv("EPP_SERVER_NET_ZA_SERVER"),
                        "password" => getenv("EPP_SERVER_NET_ZA_PASSWORD")
                    ],
                    "web_za" => [
                        "address" => getenv("EPP_SERVER_WEB_ZA_SERVER"),
                        "password" => getenv("EPP_SERVER_WEB_ZA_PASSWORD")
                    ],
                ]
            ]
        ],
        "registrar" => [
            "name" => getenv("REGISTRAR_NAME"),
            "email" => getenv("REGISTRAR_EMAIL"),
            "org" => getenv("REGISTRAR_ORG"),
            "street" => getenv("REGISTRAR_STREET"),
            "city" => getenv("REGISTRAR_CITY"),
            "sp" => getenv("REGISTRAR_SP"),
            "pc" => getenv("REGISTRAR_PC"),
            "cc" => getenv("REGISTRAR_CC"),
            "voice" => getenv("REGISTRAR_VOICE"),
            "fax" => getenv("REGISTRAR_FAX"),
        ]
    ]
];
